body {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  cursor: move;
}

.over-canvas {
  position: relative;
  bottom: 75px;
}

.pagination {
  opacity: 0.5;
  transition: opacity .25s ease;
}

body:hover .pagination {
  opacity: 1;
}