body {
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
  cursor: move;
}

ul {
    list-style-type: none;
}

.controls {
  width: 290px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

    .controls li {
      cursor: pointer;
      width: 40px;
      height: 40px;
      opacity: 0.5;
      position: relative;
      float: left;
      margin: 0 10px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 10px 30px 0 rgba(0,0,0, .35);
      transition: box-shadow .25s ease, opacity .25s ease;
    }

        body:hover .controls li {
          opacity: 1;
        }

        .controls li:hover {
          box-shadow: 0 0 5px 0 rgba(0,0,0, .15);
        }

        .controls li.controls_switch-prev {
          margin-right: 35px;
        }

        .controls li.controls_switch-next {
          margin-left: 35px;
        }

            .controls li[class*="switch"]:after {
              content: '';
              width: 15px;
              height: 15px;
              position: absolute;
              top: 12px;
              transform: rotate(45deg);
            }

            .controls li.controls_switch-prev:after {
              right: 10px;
              border-left: 2px solid transparent;
              border-bottom: 2px solid transparent;
              border-color: #7acbe4;
            }

            .controls li.controls_switch-next:after {
              left: 10px;
              border-right: 2px solid transparent;
              border-top: 2px solid transparent;
              border-color: #7acbe4;
            }

            .controls li.controls_switch-mode:after {
              left: 9px;
              top: 9px;
              border-top: 2px solid transparent;
              border-right: 2px solid transparent;
              border-left: 2px solid transparent;
              border-bottom: 2px solid transparent;
              border-color: #7acbe4;
              border-radius: 50%;
              transform: rotate(-0deg);
              width: 18px;
              height: 18px;
            }

            .controls li.alt:after {
              border-top: unset;
              border-right: unset;
              top: 10px;
              left: 10px;
            }
